<!doctype html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  {{if hasmath}} {{insert head_katex.html }}     {{end}}
  {{if hascode}} {{insert head_highlight.html }}   {{end}}
  <link rel="stylesheet" href="/css/jtd.css">
  <link rel="icon" href="/assets/favicon.ico">
  {{isdef title}} <title>{{fill title}}</title>  {{end}}
</head>
<body>                      <!-- closed in foot.html -->
  <div class="page-wrap">   <!-- closed in foot.html -->
    <!-- SIDE BAR -->
    <div class="side-bar">
      <div class="header">
        <a href="/" class="title">
          TME061
        </a>
      </div>
      <label for="show-menu" class="show-menu">MENU</label>
      <input type="checkbox" id="show-menu" role="button">
      <div class="menu" id="side-menu">
        <ul class="menu-list">
          <li class="menu-list-item {{ispage index}}active{{end}}"><a href="/" class="menu-list-link {{ispage index}}active{{end}}">Hem</a>
          <li class="menu-list-item {{ispage exercise1/*}}active{{end}}"><a href="/exercise1/task1" class="menu-list-link {{ispage exercise1/*}}active{{end}}">Räkneövning 1</a>
            <ul class="menu-list-child-list ">
              <li class="menu-list-item "><a href="/exercise1/task1" class="menu-list-link">Uppgift 1.7</a>
              <li class="menu-list-item "><a href="/exercise1/task2" class="menu-list-link">Uppgift hö1</a>
              <li class="menu-list-item "><a href="/exercise1/task3" class="menu-list-link">Uppgift 2.3</a>
              <li class="menu-list-item "><a href="/exercise1/task4" class="menu-list-link">Uppgift 2.23</a>
            </ul>
          <li class="menu-list-item {{ispage exercise2/*}}active{{end}}"><a href="/exercise2/task1" class="menu-list-link {{ispage exercise2/*}}active{{end}}">Räkneövning 2</a>
            <ul class="menu-list-child-list ">
              <li class="menu-list-item "><a href="/exercise2/task1" class="menu-list-link">Uppgift 4.2</a>
              <li class="menu-list-item "><a href="/exercise2/task2" class="menu-list-link">Uppgift 4.4</a>
              <li class="menu-list-item "><a href="/exercise2/task3" class="menu-list-link">Uppgift 4.18a</a>
            </ul>
          <li class="menu-list-item {{ispage exercise3/*}}active{{end}}"><a href="/exercise3/task1" class="menu-list-link {{ispage exercise3/*}}active{{end}}">Räkneövning 3</a>
            <ul class="menu-list-child-list ">
              <li class="menu-list-item "><a href="/exercise3/task1" class="menu-list-link">Uppgift 8.12</a>
              <li class="menu-list-item "><a href="/exercise3/task2" class="menu-list-link">Uppgift 8.24</a>
              <li class="menu-list-item "><a href="/exercise3/task3" class="menu-list-link">Uppgift 8.14</a>
              <li class="menu-list-item "><a href="/exercise3/task4" class="menu-list-link">Uppgift 8.15</a>
            </ul>
        </ul>
      </div>
<!--       <div class="footer">
        This is <em>Just the docs</em>, adapted from the <a href="https://github.com/pmarsceill/just-the-docs" target="_blank">Jekyll theme</a>.
      </div> -->
    </div>
    <!-- CONTENT -->
    <div class="main-content-wrap"> <!-- closed in foot.html -->
      <div class="main-content">    <!-- closed in foot.html -->
        <div class="main-header">
          <a id="github" href="https://github.com/fredrikekre/TME061"><svg height="1.3em" aria-hidden="true" focusable="false" data-prefix="fas" data-icon="edit" class="svg-inline--fa fa-edit fa-w-18" role="img" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 576 512"><path fill="currentColor" d="M402.6 83.2l90.2 90.2c3.8 3.8 3.8 10 0 13.8L274.4 405.6l-92.8 10.3c-12.4 1.4-22.9-9.1-21.5-21.5l10.3-92.8L388.8 83.2c3.8-3.8 10-3.8 13.8 0zm162-22.9l-48.8-48.8c-15.2-15.2-39.9-15.2-55.2 0l-35.4 35.4c-3.8 3.8-3.8 10 0 13.8l90.2 90.2c3.8 3.8 10 3.8 13.8 0l35.4-35.4c15.2-15.3 15.2-40 0-55.2zM384 346.2V448H64V128h229.8c3.2 0 6.2-1.3 8.5-3.5l40-40c7.6-7.6 2.2-20.5-8.5-20.5H48C21.5 64 0 85.5 0 112v352c0 26.5 21.5 48 48 48h352c26.5 0 48-21.5 48-48V306.2c0-10.7-12.9-16-20.5-8.5l-40 40c-2.2 2.3-3.5 5.3-3.5 8.5z"></path></svg>Redigera på GitHub</a>
        </div>


<!-- Content appended here (in class franklin-content) -->
